<h1>Editing Stargate Manual Override</h1>

<%= render 'form', stargate_manual_override: @stargate_manual_override %>

<%= link_to 'Show', @stargate_manual_override %> |
<%= link_to 'Back', stargate_manual_overrides_path %>
